<h1><%= t('.video_list') %></h1>

<h1><%= @video_class.name %></h1>
  <dt><%= VideoClass.human_attribute_name("description") %></dt>
  <dd><%= @video_class.description %></dd>
  <dt><%= VideoClass.human_attribute_name("video_url") %></dt>
  <dd><%= @video_class.video_url  %></dd>
  <dt><%= VideoClass.human_attribute_name("category") %></dt>
  <dd><%= @video_class.category  %></dd>
  <dt><%= User.model_name.human %></dt>
  <dd><%= @video_class.user.name  %></dd>
  <dt><%= t('.schedule') %></dt>
  <dd>
    <%= "#{I18n.localize(@video_class.start_at, format: :only_time)} - 
         #{I18n.localize(@video_class.end_at, format: :only_time)}" %>
  </dd>
  <dt><%= VideoClass.human_attribute_name("start_at") %></dt>
  <dd><%= I18n.localize(@video_class.start_at.to_date) %></dd>
  
  <% if @plan&.watch_video_class?(@video_class) %>
    <%= link_to t('.attend_class') %>
  <% end %>


